@font-face {
  font-family: 'Instrument Serif';
  src: url('/fonts/instrument-serif-v5-latin-regular.woff2') format('woff2'); 
}
@font-face {
  font-family: 'Spectral';
  src: url('/fonts/spectral-v15-latin-regular.woff2') format('woff2'); 
}

@layer theme {
  :root {
    --hx-default-font-family: 'Spectral';
  }
}
